body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

#url,
#customCode,
#enterCodeElement {
    outline: 2px solid #39adad;
    text-align: center;
    border-radius: 5px;
    border: none;
	padding: 5px
}

#customCode {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px
}

#url {
	padding: 5px
}

#submitButton {
    outline: 2px solid #39adad;
    border: none;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 9px;
    color: #000000;
    padding: 5px 20px;
}

#errorEl {
    color: red;
    font-weight: bold;
}

#instructionsHeading {
    margin-top: 50px;
}

#mainDiv {
    align-items: center;
    text-align: center;
}

#statusEl {
    margin-bottom: 100px;
}

a:any-link {
    color: white;
    transition: 0.5s;
    text-decoration: none;
    padding: 5px 5px;
}

a:any-link:hover {
    color: #39adad;
    border: 1px solid #39adad;
    padding: 5px 5px;
}