body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

#url {
  outline: 1px solid #0000ff;
}

#submitButton {
  outline: 1px solid #0000ff;
  margin-top: 10px;
  border-radius: 5px;
}

#errorEl {
  color: red;
  font-weight: bold;
}

#instructionsHeading {
  margin-top: 50px;
}

#mainDiv {
  align-items: center;
  text-align: center;
}