body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

.text {
    font-weight: bold;
    color: #39adad;
}

#deleteACodeText {
    margin-top: 50px;
}

#url,
#customCode,
#username,
#password,
#enterCodeElement,
#codeElement {
    outline: 2px solid #39adad;
    text-align: center;
    border-radius: 5px;
    border: none;
	padding: 5px
}

#customCode {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px
}

#url {
	width: 225px
}

.hidden {
    display: none;
}

#submitButton, #submitRemoveCodeButton {
    outline: 2px solid #39adad;
}

#submitButton, #deleteButton, #submitRemoveCodeButton {
    border: none;
    background-color: #ffffff;
    margin-top: 5px;
    border-radius: 9px;
    color: #000000;
    padding: 5px 20px;
}

#deleteButton {
    margin-top: 70px;
    outline: 2px solid #ad3939;
}

#submitButton:hover, #deleteButton:hover {
    background-color: #dbdbdb;
}

#linksList li {
    list-style-type: none;
}

#linksList  {
    margin-top: 10px;
}

.error {
    color: rgb(255, 66, 66);
    font-weight: bold;
}

.success {
    color: #39adad;
    font-weight: bold;
}

#instructionsHeading {
    margin-top: 50px;
}

#mainDiv {
    align-items: center;
    text-align: center;
}

#statusEl {
    margin-bottom: 100px;
}

a:any-link {
    color: #39adad;
    text-decoration: none;
}

a:any-link:hover {
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}

#adminRedirect, #viewStatisticsRedirect, #backHomeRedirect {
    color: white;
    transition: 0.5s;
    text-decoration: none;
    padding: 5px 5px;
}

#viewStatisticsRedirect:hover, #adminRedirect:hover, #backHomeRedirect:hover {
    color: #39adad;
    border: 1px solid #39adad;
    padding: 5px 5px;
}